@model Transit.Web.Models.CitiesViewModel

@{
    ViewBag.Title = Model.Title;
}

@Html.Partial("_BreadCrumbs", Model)

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Select Country</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" id="selectCountry">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cities Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="CitiesTable" class="table display mb-30">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Country</th>
                                        <th>IsActive</th>
                                        <th>Created</th>
                                        <th>CreatedOn</th>
                                        <th>Modified</th>
                                        <th>ModifiedOn</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <hr />
                    <button id="newCityButton" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-plus"></i> </span><span class="btn-text">Add New City</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Cities Row -->

<div id="cityModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-horizontal" id="cityModalForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 id="cityModalTitle" class="modal-title">City</h5>
            </div>
            <div class="modal-body">
                <input id="cityModalID" type="hidden" class="form-control" name="ID">
                <div class="form-group required">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input id="cityModalName" type="text" class="form-control" name="Name" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <input id="cityModalCountryName" type="text" class="form-control" name="CountryName" placeholder="Country Name" required>
                        <input id="cityModalhdnCountryID" type="text" class="form-control" name="CountryName" placeholder="Country Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-9">
                        <div class="checkbox checkbox-success pr-10 pull-left">
                            <input data-val="true" name="IsActive" id="cityModalIsActive" type="checkbox">
                            <label for="cityModalIsActive"> IsActive</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i id="cityModalSubmitIcon" class="fa"></i> </span><span id="cityModalSubmitText" class="btn-text">Add</span></button>
                <button data-dismiss="modal" type="button" class="btn btn-default btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-times"></i> </span><span class="btn-text">Cancel</span></button>
            </div>
            <div class="alert alert-danger" id="cityModalFormErrors" style="display:none">
                <p id="cityModalFormErrorsMessages"></p>
            </div>
        </form>
    </div>
</div>

<script>
    var citiesURL = '@Transit.Services.TransitService.Instance.GetTransitURLByName("MANAGECITIES").Value';
</script>
<script src="~/Scripts/functions/cities.js"></script>
