<!-- Footer -->
<footer class="footer container-fluid pl-30 pr-30">
    <div class="row">
        <div class="col-sm-5">
            <a href="index.html" class="brand mr-30"><img src="~/Images/TransitLogoSM.png" alt="logo" /></a>
            <ul class="footer-link nav navbar-nav">
                <li class="logo-footer"><a href="#">help</a></li>
                <li class="logo-footer"><a href="#">terms</a></li>
                <li class="logo-footer"><a href="#">privacy</a></li>
            </ul>
        </div>
        <div class="col-sm-7 text-right">
            <p>&copy; @DateTime.Now.Year Transit. Developed by Sajjad Gul</p>
        </div>
    </div>
</footer>
<!-- /Footer -->