@model Transit.Web.Models.VehicleTypesViewModel

@{
    ViewBag.Title = "Vehicle Types";
}

@Html.Partial("_BreadCrumbs", Model)

<!-- Vehicle Types Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="VehicleTypesTable" class="table display mb-30">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>IsActive</th>
                                        <th>Created</th>
                                        <th>CreatedOn</th>
                                        <th>Modified</th>
                                        <th>ModifiedOn</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr />
                    <button id="newVehicleTypeButton" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-plus"></i> </span><span class="btn-text">Add New Vehicle Type</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Vehicle Types Row -->

<div id="vehicleTypeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-horizontal" id="vehicleTypeModalForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 id ="vehicleTypeModalTitle" class="modal-title">Vehicle Type</h5>
            </div>
            <div class="modal-body">
                <input id="vehicleTypeModalID" type="hidden" class="form-control" name="ID">
                <div class="form-group required">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input id="vehicleTypeModalName" type="text" class="form-control" name="Name" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Status</label>
                    <div class="col-sm-9">
                        <div class="checkbox checkbox-success pr-10 pull-left">
                            <input data-val="true" name="IsActive" id="vehicleTypeModalIsActive" type="checkbox">
                            <label for="IsActive"> IsActive</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i id="vehicleTypeModalSubmitIcon" class="fa"></i> </span><span id="vehicleTypeModalSubmitText" class="btn-text">Add</span></button>
                <button data-dismiss="modal" type="button" class="btn btn-default btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-times"></i> </span><span class="btn-text">Cancel</span></button>
            </div>
            <div class="alert alert-danger" id="vehicleTypeModalFormErrors" style="display:none">
                <p id="vehicleTypeModalFormErrorsMessages"></p>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

        var newRecord;
        var SelectedRow;

        function RefreshFields() {
            $("#vehicleTypeModalID").val("");
            $("#vehicleTypeModalName").val("");
            $("#vehicleTypeModalIsActive").prop('checked', false);

            newRecord = false;
            SelectedRow = null;

            $("#vehicleTypeModalFormErrorsMessages").html("");
        }

        //setting up DataTable and Column Rendering and Getting All the required Data 
        var vehicleTypesTable = $("#VehicleTypesTable").DataTable({
            paging: true,
            sort: true,
            searching: true,
            ajax :{
                url: 'GetAllVehicleTypesAJAX',
                method: 'get',
                dataType: 'json',
                dataSrc: "" //everything we received back in ajax call is source for our data
            },
            columns: [
                { 'data': 'ID' },
                { 'data': 'Name' },
                {
                    'data': 'IsActive',
                    'render': function (status) {
                        return GetFormattedStatus(status);
                    }
                },
                {
                    'data': 'CreatedBy',
                    'render': function (CreatedBy, type, row) {
                        return CreatedBy + "<br />" + GetFormattedDate(row["CreatedOn"]);
                    }
                },
                {
                    'data': 'CreatedOn',
                    "visible": false,
                    "searchable": false
                },
                {
                    'data': 'ModifiedBy',
                    'render': function (ModifiedBy, type, row) {
                        return ModifiedBy + "<br />" + GetFormattedDate(row["ModifiedOn"]);
                    }
                },
                {
                    'data': 'ModifiedOn',
                    "visible": false,
                    "searchable": false
                },
                {
                    'data': 'ID',
                    'render': function (ID) {
                        return "<button class=\"updateVehicleTypeButton btn btn-warning btn-lable-wrap left-label\"> <span class=\"btn-label\"><i class=\"fa fa-pencil\"></i> </span><span class=\"btn-text\">Edit</span></button> <button class=\"btn btn-danger btn-lable-wrap left-label\"> <span class=\"btn-label\"><i class=\"fa fa-trash\"></i> </span><span class=\"btn-text\">Delete</span></button>"
                    },
                    "searchable": false,
                    "sortable": false                    
                },
            ],

        });

        $("#newVehicleTypeButton").click(function () {
            ShowVehicleTypeModal();
        });

        //displaying Vehicle Type Data in Modal
        function ShowVehicleTypeModal(ID, Name, Status) {
            var vehicleTypeModal = $('#vehicleTypeModal');

            if (ID) {

                newRecord = false; //this means it is not a new record

                $('#vehicleTypeModalID').val(ID);

                if (Name != undefined && Name.length > 0) {
                    $('#vehicleTypeModalName').val(Name);
                }

                if (Status == true) {
                    $("#vehicleTypeModalIsActive").prop('checked', true);
                }
                else {
                    $("#vehicleTypeModalIsActive").prop('checked', false);
                }

                $('#vehicleTypeModal').find('.modal-title').text('Update Vehicle Type');
                $('#vehicleTypeModal').find('#vehicleTypeModalSubmitIcon').removeClass('fa-plus').addClass('fa-pencil');
                $('#vehicleTypeModal').find('#vehicleTypeModalSubmitText').text('Update');
            }
            else {
                newRecord = true; //this means it is a new record

                $('#vehicleTypeModal').find('.modal-title').text('Add New Vehicle Type');
                $('#vehicleTypeModal').find('#vehicleTypeModalSubmitIcon').removeClass('fa-pencil').addClass('fa-plus');
                $('#vehicleTypeModal').find('#vehicleTypeModalSubmitText').text('Save');
            }

            $('#vehicleTypeModal').modal('toggle');
        }

        $("#vehicleTypeModalForm").on('submit', (function (event) {
            debugger;
            if ($("#vehicleTypeModalForm").valid()) {
                debugger;
                if (newRecord) {
                    SaveNewRecord(event);
                }
                else{
                    UpdateRecord(event);
                }
            }
            else {
                DisplayError("Please fill the required form fields.");
            }
        }));

        ////getting Row data on Row Click in Table
        //vehicleTypesTable.on('click', 'tr', function () {

        //    var selectedVehicleType = vehicleTypesTable.row(this).data();

        //    var vehicleTypeId = selectedVehicleType["ID"];
        //    var vehicleTypeName = selectedVehicleType["Name"];
        //    var vehicleTypeIsActive = selectedVehicleType["IsActive"];

        //    SelectedRow = this;

        //    ShowVehicleTypeModal(vehicleTypeId, vehicleTypeName, vehicleTypeIsActive);
        //});

        vehicleTypesTable.on('click', 'td:eq(5)', function (e) {
            console.log('ello');
            debugger;
            var selectedVehicleType = vehicleTypesTable.row(this).data();

                var vehicleTypeId = selectedVehicleType["ID"];
                var vehicleTypeName = selectedVehicleType["Name"];
                var vehicleTypeIsActive = selectedVehicleType["IsActive"];

                SelectedRow = vehicleTypesTable.row(this);

                //ShowVehicleTypeModal(vehicleTypeId, vehicleTypeName, vehicleTypeIsActive);
        });

        function SaveNewRecord(event)
        {
            event.preventDefault();
            var jqxhr = $.ajax(
                        {
                            type: "post",
                            data: {
                                Name: $("#vehicleTypeModalName").val(),
                                IsActive: $("#vehicleTypeModalIsActive").is(':checked')
                            },
                            url: "AddNewVehicleTypeAJAX"
                        })
                            .done(function (data) {
                                debugger;
                                console.log(data);

                                if (data.Successful) {
                                    vehicleTypesTable.row.add(data.VehicleType).draw(false);

                                    $('#vehicleTypeModal').modal('toggle');
                                }
                                else {
                                    DisplayError(data.Exception);
                                }
                            })
                            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                                DisplayError(errorThrown);
                            })
                            .always(function () {
                            });
        }

        function UpdateRecord(event) {
            debugger;
            event.preventDefault();
            var jqxhr = $.ajax(
                        {
                            type: "post",
                            data: {
                                ID: $("#vehicleTypeModalID").val(),
                                Name: $("#vehicleTypeModalName").val(),
                                IsActive: $("#vehicleTypeModalIsActive").is(':checked')
                            },
                            url: "UpdateVehicleTypeAJAX"
                        })
                            .done(function (data) {
                                debugger;
                                console.log(data);

                                if (data.Successful) {
                                    vehicleTypesTable.row(SelectedRow).data(data.VehicleType).invalidate().draw();

                                    $('#vehicleTypeModal').modal('toggle');
                                }
                                else {
                                    DisplayError(data.Exception);
                                }
                            })
                            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                                debugger;
                                DisplayError(errorThrown);
                            })
                            .always(function () {
                            });
        }

        function DisplayError(error) {
            $("#vehicleTypeModalFormErrors").show();
            $("#vehicleTypeModalFormErrorsMessages").html(error);

            $("#vehicleTypeModalFormErrors").delay(5000).fadeOut('slow', function () {
                $("#vehicleTypeModalFormErrorsMessages").html("");
            });

        }
    });
</script>