@model Transit.Web.Models.HomeViewModel
@{
    ViewBag.Title = Model.Title;
}


<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="">
                        <div id="owl_demo_1" class="owl-carousel owl-theme">
                            <div class="item">
                            <img src="~/Images/home/karachi-skyline.jpg" alt="Owl Image">
                                <div class="carousel-caption">
                                    <p>
                                        @*<h1 style="color:#ffffff;">Transit - Transport Information System</h1>*@
                                        Welcome to Karachi
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <form class="form-horizontal">
                            <div class="form-group mb-0">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Location</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="Location">
                                                        <div class="input-group-addon"><i class="icon-location-pin"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Destination</label>
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="Destination">
                                                        <div class="input-group-addon"><i class="icon-compass"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">map style 1</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div id="map_canvas" style="height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- /Row -->
<!-- Google Map JavaScript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
<script src="~/Theme/dist/js/gmap-data.js"></script>

            <script>
                jQuery(document).ready(function ($) {
                    $("#owl_demo_1").owlCarousel({
                        navigation: false, // Show next and prev buttons
                        slideSpeed: 300,
                        paginationSpeed: 400,
                        items: 1,
                    });
                    $("#owl_demo_2").owlCarousel({
                        navigation: true, // Show next and prev buttons
                        slideSpeed: 300,
                        paginationSpeed: 400,
                        items: 1,
                    });
                    $("#owl_demo_3").owlCarousel({
                        navigation: true, // Show next and prev buttons
                        slideSpeed: 300,
                        paginationSpeed: 400,
                        items: 1,
                    });
                    $("#owl_demo_4").owlCarousel({
                        navigation: true, // Show next and prev buttons
                        slideSpeed: 300,
                        paginationSpeed: 400,
                        items: 1,
                    });
                });
            </script>
